* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgb(255, 69, 0), rgb(0, 0, 0));
  font-family: Ink free, cursive, sans-serif;
  height: 100vh;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
}

.shopping {
  width: 600px;
  min-height: 80vh;
  margin: auto;
  background: rgb(252, 252, 251);
  border-radius: 20px;
  box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.5);
}

.shopping h1 {
  font-size: 2.5rem;
  opacity: 0.9;
  margin-top: 1em;
  padding-bottom: 10px;
}

.shopping i {
  margin-left: 0;
  font-size: 3rem;
  color: orangered;
}

#userInput:focus ~ #quill {
  animation: spin 1s infinite linear;
}

.shopping input {
  padding-left: 1rem;
  font-family: inherit;
  outline: 0;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  width: 70%;
  font-size: 1.5rem;
}

#allItems h2 {
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 2rem;
}

.done {
  text-decoration: line-through;
}

footer {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 60px;
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}
