@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /*set background gradient to maintain full veiw window*/
  background: linear-gradient(rgb(255, 69, 0), rgb(0, 0, 0));
  font-family: Ink free, cursive, "Inspiration", "Brush Script", "Comic Sans MS",
    "Comic Sans", sans-serif;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 90%;
  margin: auto auto 0 auto;
  margin-top: 4rem;
  display: flex;
}

.shopping {
  width: 600px;
  min-height: 80vh;
  margin: auto;
  background: rgb(252, 252, 251);
  border-radius: 20px;
  box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.5);
  padding-bottom: 1.5rem;
}

.shopping h1 {
  font-size: 2.5rem;
  opacity: 0.9;
  margin-top: 1em;
  padding-bottom: 10px;
  text-align: center;
}

.shopping i {
  margin-left: 0;
  font-size: 3rem;
  color: orangered;
}

#quill {
  transform: rotateY(180deg);
}

.spin {
  animation: spin 0.5s linear infinite;
}

#inputField {
  text-align: center;
  width: 100%;
}

.shopping input {
  padding-left: 1rem;
  font-family: inherit;
  outline: 0;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  width: 70%;
  font-size: 2.5rem;
  text-decoration: none;
}

#delBtn {
  border: none;
  background: #fff;
}

#list {
  margin-left: 6rem;
  margin-right: auto;
  margin-top: 15px;
  font-size: 2rem;
}

#items {
  list-style: none;
  color: black;
}

.done {
  text-decoration: line-through;
  text-decoration-color: orangered;
}

footer {
  color: #fff;
  margin: 50px auto;
  text-align: center;
  padding-bottom: 2rem;
}

#tag {
  font-size: 1.5rem;
  font-style: italic;
  color: rgb(98, 98, 223);
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 2rem;
  }
  .shopping {
    min-height: 60vh;
  }

  .shopping h1 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  .shopping i {
    font-size: 1.6rem;
    margin-left: 10px;
  }

  input[type="text"] {
    text-decoration: none !important;
  }

  #list {
    margin-left: 3rem;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1.8rem;
  }
  footer {
    font-size: 0.8rem;
    margin: 30px auto 60px auto;
    text-align: center;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}
